---
layout: default
---
{%- include i18n.html -%}
<article class="page" itemscope itemtype="https://schema.org/Article">
  <header>
    <h1 class="page-title" itemprop="headline">{{ page.title }}</h1>
    {%- if page.collection == 'posts' and page.date %}
    <p class="page-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: t.date_format }}</time></p>
    {%- endif %}
  </header>
  <section class="page-content" itemprop="articleBody">
    {{ content }}
  </section>
  {%- if page.collection == 'posts' %}
  {% include comments.html %}
  {%- endif %}
</article>
